<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">

<html>
<head>
  <title>MARS LSIR TUD PG2022</title>
</head>

<body>
  <h1>Upload failed!</h1>
  <h2>sorry we dont print proper error messages around here</h2>
<footer>
  <button><a href=
  "http://127.0.0.1:5000/">Query another image</a></button>

  <button><a href=
  "http://127.0.0.1:5000/">Download images (WIP)</a></button>

  <button><a href=
  "http://127.0.0.1:5000/upload">Try another upload</a></button>
</footer>
</body>
</html>
